################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MangeCharacters/obj
/MangeCharacters/bin/Debug/netcoreapp2.1
