@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>App is helping to create RPG Character. It has two modes:</p>
<p>
    <b>User mode:</b> user can browse his characters and observe his stats. 
</p>
<p>
    <b>Admin mode: </b> admin can browse through all characters. He can add character, and manipulate his stats.
</p>
