@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    <strong>Dyśko Tomasz :</strong> <a href="mailto:241321@student.pwr.edu.pl">241321</a><br />
    <strong>Filip Gajewski :</strong> <a href="mailto:236597@student.pwr.edu.pl">236597</a><br />
    <strong>Andrzej Gierlak :</strong> <a href="mailto:236411@student.pwr.edu.pl">236411</a><br />
</address>
